In [37]:
import pandas as pd
import numpy as np

#import matplotlib.pyplot as plt

In [38]:
dataset = pd.read_csv("Artificial_Intelligence_Assignment_06_dataset_insurance_pre.csv")

In [39]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [40]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [41]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [42]:
independent = dataset[['age','bmi','children','sex_male', 'smoker_yes']]

In [43]:
dependent = dataset[['charges']]

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,train_size=0.70,random_state=0)

In [21]:
#Model creation for Multiple Linear Regressor_Regression_with_CV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

model = LinearRegression(fit_intercept=True, copy_X=True, n_jobs=None, positive=False, )
cv_scores = cross_val_score(model, independent, dependent, cv=5, scoring='r2')

In [22]:
print("Cross-validation scores (R^2):", cv_scores)
print("Mean R^2 Score:", np.mean(cv_scores))

Cross-validation scores (R^2): [0.76097874 0.70873346 0.7755842  0.73136684 0.7565446 ]
Mean R^2 Score: 0.746641566347216

In [26]:
table=pd.DataFrame.from_dict(cv_scores)

In [27]:
table

          0
0  0.760979
1  0.708733
2  0.775584
3  0.731367
4  0.756545

In [28]:
table.to_csv("best_parameters.csv", index=False)

In [43]:
#from reportlab.lib.pagesizes import letter
#from reportlab.pdfgen import canvas

# Sample DataFrame
#data = {'Parameter': ['max_depth', 'min_samples_split', 'min_samples_leaf'],
 #       'Best Value': [10, 2, 1]}
#table = pd.DataFrame(data)

# Function to convert DataFrame to PDF
#def table_to_pdf(table, filename="output.pdf"):
 #   c = canvas.Canvas(filename, pagesize=letter)
  #  width, height = letter
   # c.setFont("Helvetica", 10)

#    x_offset = 50
 #   y_offset = height - 50
  #  line_height = 20
#
   # Draw column headers
   # for col_index, col_name in enumerate(table.columns):
 #       c.drawString(x_offset + col_index * 100, y_offset, col_name)

  #  y_offset -= line_height

    # Draw table rows
   # for row in table.itertuples(index=False):
    #    for col_index, value in enumerate(row):
     #       c.drawString(x_offset + col_index * 100, y_offset, str(value))
      #  y_offset -= line_height

#        if y_offset < 50:  # Start a new page if needed
 #           c.showPage()
  #          y_offset = height - 50

   # c.save()
    #print(f"PDF saved as {filename}")

# Convert DataFrame to PDF
#table_to_pdf(table, "best_parameters.pdf")

In [31]:
y_pred=grid.predict(x_test)

In [32]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

In [33]:
r_score

0.8729717577378623

In [34]:
import pickle

In [35]:
mymodel= ("Multiple Linear Insurance.sav")

In [36]:
pickle.dump(grid,open(mymodel,'wb'))